<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mainichi - din matlåda i etern</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="content-wrapper">
            <header>
                <div style="margin-bottom: 20px">
                    <div id="logo-holder" class="clear-fix">
                        <div class="float-left">
                            <p class="site-title">@Html.ActionLink("ときどき", "Index", "Home")</p>
                            @*<p class="site-title">@Html.ActionLink("Placeholder for logo", "Index", "Home")</p>*@
                        </div>
                        <div class="float-right">
                            <input type="text" value="Sök i butiken" style="width:200px"/>
                        </div>
                    </div>
                    @Html.Partial("_MenuBar")
                </div>
            </header>
            <div id="body">
                <div class="clear-fix">
                    <div style="float:left;width:25%;border-right: 4px solid #ccc;padding-top:10px;padding-left:5px">
                        @Html.Partial("_SideMenu")
                    </div>
                    <div style="float:left;padding: 0 10px 10px 10px">
                        @RenderSection("breadcrumbs", required: false)
                        @RenderBody()
                    </div>
                </div>
                @*<section class="main-content clear-fix">
                    
                </section>*@
            </div>
            <footer>
                <div>
                    <div class="float-left">
                        @*<p>&copy; @DateTime.Now.Year</p>*@
                    </div>
                </div>
            </footer>

            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>
