<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mainichi - din matlåda i etern</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/lib")
    </head>
    <body>
        <div class="content-wrapper">
            <header>
                <div id="logo-holder" class="clearfix" style="position: relative">
                    <div class="float-left">
                        <ul id="rainbow">
                            <li>M</li>
                            <li>A</li>
                            <li>I</li>
                            <li>N</li>
                            <li></li>
                            <li>I</li>
                            <li>C</li>
                            <li>H</li>
                            <a href="~/Admin"><li>I</li></a>
                        </ul>
                    </div>
                    <div id="marquee">
                        @Html.Partial("_MenuBar")
                    </div>
                </div>
                @Html.Partial("_CartHolder")
            </header>
            <div id="body">
                @RenderSection("breadcrumbs", required: false)
                @RenderBody()
            </div>
            <footer>
                <section id="up-we-go">
                    <span>Gå till toppen av sidan</span>
                </section>
                <section class="clearfix">
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, ne eum reque semper aperiam, ei tempor graecis est. Nam no docendi philosophia. Mei cu vivendo molestie, ex qui veri dolor instructior. At nam eruditi epicuri.
                            Nobis delicatissimi ei ius. Qui malis diceret constituto ei, ne pro agam mandamus, clita everti has in. Vocibus dissentiunt mea et, in per quando expetenda eloquentiam, sed bonorum definiebas id. Denique commune verterem ex qui.
                            At pri nibh vivendo splendide, natum nemore periculis mel et, nec latine minimum at. Rebum praesent in duo. Quod duis corpora cum in. Ea bonorum gloriatur pri.
                        </p>
                    </div>
                    <div>
                        <p>
                            His mollis probatus constituto at, causae perfecto sensibus eu qui. Nibh aliquam ex vix. Eam cu nonumes intellegat, simul intellegat mel ut. Duo albucius invidunt id, propriae scaevola vis id, nec delenit partiendo cu. Ius ei probo justo, no modo homero persequeris vis. At insolens sapientem inciderint quo, ius ut modo erat sanctus, no feugait invenire qui.
                            Eu soleat tincidunt ullamcorper per, inani accusata electram cu sed, vidit vocent at has. Molestie delectus invidunt ad mei. Te magna appareat usu, qualisque mediocritatem pri ea. Cum ad case eruditi necessitatibus. Usu cu virtute probatus referrentur.
                        </p>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, ne eum reque semper aperiam, ei tempor graecis est. Nam no docendi philosophia. Mei cu vivendo molestie, ex qui veri dolor instructior. At nam eruditi epicuri.
                            Nobis delicatissimi ei ius. Qui malis diceret constituto ei, ne pro agam mandamus, clita everti has in. Vocibus dissentiunt mea et, in per quando expetenda eloquentiam, sed bonorum definiebas id. Denique commune verterem ex qui.
                        </p>
                    </div>
                </section>
            </footer>

            @RenderSection("scripts", required: false)
            <script>
                
                var elements = document.getElementById('rainbow').getElementsByTagName('li');
                var oldIndex = 0, newIndex = 0;
                
                function rainbowize() {
                    newIndex = getRand(oldIndex);
                    elements[oldIndex].className = '';
                    elements[newIndex].className = 'active';
                    oldIndex = newIndex;

                    setTimeout(rainbowize, 10000);
                }
                
                function getRand(oldIndex) {
                    var newIndex = Math.floor((Math.random() * 8));
                    return newIndex === oldIndex ? getRand(oldIndex) : newIndex === 4 ? getRand(oldIndex) : newIndex;
                }

                document.getElementById('up-we-go').onclick = function() {
                    window.scrollTo(0);
                };
                
                if (Modernizr.mq('only all and (max-width: 640px)')) {
                    window.onscroll = isScrolling;
                } else {
                    rainbowize();
                }

                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-46082543-1', 'apphb.com');
                ga('send', 'pageview');

            </script>
        </div>
    </body>
</html>